transformers
faster-whisper
librosa
pydub
lxml
numpy
scipy
tqdm
huggingface_hub[hf_xet]
onnxruntime-gpu
accelerate
python-dotenv
pandas
soundfile
openai
aup3 @ git+https://github.com/mildsunrise/py-aup3.git

pytest
pytest-cov
-e ../mlt-python